#wrapper{
	width: 95%;
	height: 100vh;
	border: 1px solid green;
	padding: 3px;
	margin: auto;
	overflow: hidden;
}

#left-all-stocks{
	width: 24%;
	margin: 1%;
	height: 95vh;
	background-color: #e0e0e0;
	
	float: left;	
}

#right-single-stock{
	width: 45%;
	margin: 1%;
	height: 95vh;
	background-color: lime;
		float: left;
	overflow-y: scroll;
}

input{
	margin-bottom: 20px;
}

#get-stock-texts{
	text-align: center;
}

#get-stock-input{
	text-align: center;
}

#stock-filter{
	text-align: center;
	font-size: 23px;
}

.left-stock-result{
	margin: 20px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	background-color: white;
	padding: 8px;
}

.stock-change{
	display: inline;
	
}

.change-positive{
	color: green;
	border-bottom: 2px solid blue;
}

.change-negative{
	color: red;
	border-bottom: 2px solid red;
}

#chart-container{
	width: 24%;
	margin: 1%;
	height: 95vh;
	background-color: skyblue;
	float: left;
	text-align: center;
}

.chart-text{
	margin-bottom: 5px;
}

img{
	width: 95%;
}

#stock-prop{
	background-color: white;
	width: 90%;
	margin: auto;
	margin-bottom: 5px;
	border: 1px solid black;
	border-radius: 3px;
}