<!DOCTYPE html>
<html ng-app="stocksApp">
<head>
	<title>Stock ticker</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css">

	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
</head>
<body ng-controller="stocksController">

	<div id-"wrapper">

		<div id="left-all-stocks">
			<form ng-submit="getStocks()">
				<div id="get-stock-texts">What stocks yould you like to search for? Separate with a comma (i.e. goog, msft, yhoo);
				</div>
				<div id="get-stock-input">
					<input type="text" ng-model="userStocks">
				</div>
			</form>
			<div id="{{stock.Symbol}}" ng-click="loadStock(stock)" ng-repeat='stock in listOfStocks'>
				<div class="company-name">{{stock.Name}}</div>
				<div class="stock-change">{{stock.Change}}</div>
				<div class="stock-symbol">{{stock.Symbol}}</div>				
			</div>
		</div>
		<div id="right-single-stock">
			<div id="stock-filter">
				Filter:<input type="text" ng-model='stockFilter'>
				<div id="" ng-repeat="detail in dataList | filter:stockFilter">
					<div class="stock-properties">
						<div class="detail-prop">{{detail.prop}}</div>
						<div class="prop-value">{{detail.value}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>